/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Contenedor principal */
.my-user-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(128, 126, 126, 0.1);
    text-align: center; 
}

/* Flexbox para centrar el botón y el input */
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    margin-bottom: 20px;
}

/* Título */
.my-user-container h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

/* Input de búsqueda */
.search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

/* Botón de búsqueda */
.btn-search {
    display: inline-block;
    padding: 10px 20px;
    background-color: #89a034;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-search:hover {
    background-color: #707274;
}

/* Botones de "Ban" y "Unban" */
.btn-ban,
.btn-unban {
    display: inline-block;
    padding: 10px 20px;
    background-color: #89a034;  /* Usamos el mismo color que el resto de botones */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 0 5px;
}

.btn-ban:hover,
.btn-unban:hover {
    background-color: #707274;  /* Color más oscuro en hover */
}

/* Controles de paginación */
.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-pagination {
    background-color: #89a034;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.btn-pagination:hover {
    background-color: #707274;
}

.btn-pagination:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

